ul {
	list-style-type: none;
}

.plg, .psm {
	display: inline-block;
	padding-top: 40px;
	padding-right: 40px;
	padding-right: 3vw;
}

.pxs {
	display: inline-block;
	padding-top: 20px;
	padding-right: 5px;
}

.portfolioxs {
	position: absolute;
	top: 100px;
	padding: 0px;
	left: -30px;
	width: 102%;
}