.logoxs {
	max-height: 90px;
	padding: 10px 0px;
	float: left;
}

.titlexs {
	float: right;
	padding: 13px 12px;
	line-height: 1.5;
	text-align: right;
}

.headerxs {
	background-color: white;
	max-height: 100px;
	position: fixed;
	top: 0px;
}

/* info slider */
.infoaboutxs {
	display: none;
	background-color: white;
	width: 100%;
	position: fixed;
	top: 90px;
	opacity: .8;
}